version: 1
build:
  proto:
    path: proto
    third_party_paths:
    - third_party/proto
    - proto_vendor
accounts:
- name: node0
  coins:
  - 200000000ulore
- name: node1
  coins:
  - 100000000utlore
- name: node2
  coins:
  - 100000000utlore
- name: node3
  coins:
  - 50000000utlore
- name: faucet
  coins:
  - 100000000ulore
- name: evaluator
  coins:
  - 100000000ulore
  address: gitopia1tfsvwp95023a64rnke7vxd3jjlp5fg4m46yx9j
faucet:
  name: faucet
  coins:
  - 1000000ulore
  coins_max:
  - 3000000ulore
  host: 0.0.0.0:4500
  port: 4500
client:
  typescript:
    path: ts-client
  vuex:
    path: vue/src/store
  openapi:
    path: docs/static/openapi.yml
genesis:
  app_state:
    bank:
      denom_metadata:
      - base: ulore
        denom_units:
        - denom: ulore
          exponent: 0
        - denom: lore
          exponent: 6
        description: The native staking token of the Gitopia Hub.
        display: lore
        name: lore
        symbol: lore
    crisis:
      constant_fee:
        denom: ulore
    distribution:
      params:
        community_tax: "0.05"
    gitopia:
      params:
        next_inflation_time: "2024-12-28T05:33:18.234521Z"
        pool_proportions:
          ecosystem:
            proportion: 30
          team:
            proportion: 28
        # remaining: community : 5% staking: 37%
        team_proportions:
        - proportion: 25
          address: gitopia1s9qkkznqqv8p838fuyzzfaxu7ckhy3v8cw3pke
        - proportion: 24
          address: gitopia1pdczuuqajw3n7zea9j6h9gtdgfpnzkkucjz8tn
        - proportion: 6
          address: gitopia19nve7zztd3nf9hazfv7lsx0ajdv3kfjdx83dtg
        - proportion: 45
          address: gitopia1s60vdatv2pdl9fdsy6fcje4ckd6477x2u53q4k
    rewards: 
      params:
        evaluator_address: gitopia1tfsvwp95023a64rnke7vxd3jjlp5fg4m46yx9j
        reward_series:
          series_one: 
            total_amount: 
              amount: "2000000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
          series_two: 
            total_amount: 
              amount: "1700000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
          series_three: 
            total_amount: 
              amount: "1400000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
          series_four: 
            total_amount: 
              amount: "1100000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
          series_five: 
            total_amount: 
              amount: "800000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
          series_six: 
            total_amount: 
              amount: "500000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
          series_seven: 
            total_amount: 
              amount: "250000000000"
              denom: "ulore"
            claimed_amount:
              amount: "0"
              denom: "ulore"
    gov:
      deposit_params:
        max_deposit_period: 60s
        min_deposit:
        - amount: "10000000"
          denom: ulore
      voting_params:
        voting_period: 60s
    mint:
      params:
        mint_denom: ulore
    staking:
      params:
        bond_denom: ulore
validators:
- name: node0
  bonded: 100000000ulore
